<h1>Recordings#new</h1>

<div data-controller="recording">
  <button data-action="click->recording#start" type="submit" id="start-btn">Start</button>
  <button data-action="click->recording#stop" type="submit" id="stop-btn">Stop</button>
  <button data-action="click->recording#save" type="submit" id="sava-btn">Save</button>
</div>

<br>

<%= video_tag "", autoplay: true, muted: false, size: "680x460", data: { recording_target: "video" } %>

